* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1{
    font-family: 'Noto Serif Display', serif;
    font-size: 5vw;
    font-weight:200;
    text-align: left;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 8%;
    padding-bottom: 1%;
}

h2 {
    font-family: 'Noto Serif Display', serif;
    font-size: 2vw;
    font-weight: 200;
    text-align: center;
}

.nav {
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    font-family: 'Noto Serif Display', serif;
    font-size: 1.9vw;
    font-weight:200;
    text-align: left;
    margin-bottom: 10px;
}

h4 {
    font-family: 'Noto Serif Display', serif;
    font-size: 1.5vw;
    font-weight: 200;
    text-align: left;
}

h5 {
    font-family: 'Noto Serif Display', serif;
    font-size: 2vw;
    font-weight: 600;
    text-align: left;
    padding-left: 2vw;
    padding-right: 1vw;
}


span {
    font-style: italic;
}

.text {
    position: relative !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    padding: 1.2vw 2vw;
}

ol {
    position: relative !important;
    padding-left: 3vw;
}

ol li {
    text-align: justify;
    font-size: 1.4vw;
}

.text p {
    text-align: justify;
    font-size: 1.4vw;
}

.margin {
    margin-bottom: 4vh;
}

body {
    background-color: #F1EDE9;
    color: #1e1e1e;
    place-content: center;
    font-family: 'Sono', sans-serif;
    font-size: .8vw;
    font-weight: 200;
    text-align: left;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #1e1e1e;
}

p a {
    text-decoration: underline;
    text-underline-position: below;
}
p a:hover {
    font-style: italic;
    color: #1e1e1e;
}

a:hover {
    color: #F1EDE9;
}

.alt_a a{
    text-decoration: underline !important;
    color: #1e1e1e;
}

.alt_a:hover a{
    font-style: italic !important;
    color: #1e1e1e !important;
}

section {
    display: grid;
    grid-auto-columns: 1fr;
    margin-inline: auto;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(15, 1fr);
    text-align: justify;
}

article {
    display: inline-block;
    place-content: center;
}

article:first-child:hover, article:nth-child(48):hover, article:nth-child(18):hover, article:nth-child(16):hover {
    background-color: #1e1e1e;
}

article:nth-child(9):hover, article:nth-child(10):hover, 
article:nth-child(11):hover, article:nth-child(12):hover {
    background-color: #1e1e1e;
    color: #F1EDE9 !important;
}

article:nth-child(9):hover a, article:nth-child(10):hover a,
article:nth-child(11):hover a, article:nth-child(12):hover a {
    color: #F1EDE9 !important;
    font-style: italic;
}
article:nth-child(2) {
    background-image: url("./img/window1.png");
    background-size: 6vw;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

article:nth-child(3) {
    background-image: url("./img/window4.png");
    background-size: 6vw;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

article:nth-child(4) {
    background-image: url("./img/window6.png");
    background-size: 6vw;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

/*

article:nth-child(7) {
    background-image: url("./img/bricks1.png");
    background-size: 12vw;
    background-repeat: repeat-x;
    background-position-x: 50%;
    background-position-y: 50%;
}
*/

article:nth-child(5) {
    background-image: url("./img/window5.png");
    background-size: 6vw;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}
article:nth-child(6) {
    background-image: url("./img/window2.png");
    background-size: 6vw;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}


article:nth-child(13) {
    background-image: url("./img/window7.png");
    background-size: 6vw;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}
article:nth-child(14) {
    background-image: url("./img/window8.png");
    background-size: 6vw;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

article:nth-child(19) {
    background-image: url("./img/staircase.png");
    background-size: 20vw;
    background-repeat:repeat-y;
    background-position-x: 50%;
    grid-column-end: span 4; 
    grid-row-end: span 11;
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
    align-content: center;
}

article:nth-child(25)  {
    grid-column-end: span 3; 
    grid-row-end: span 1;
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}

article:nth-child(26), article:nth-child(30){
    grid-column-end: span 11; 
    grid-row-end: span 2;
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}

article:nth-child(42) {
    grid-column-end: span 11; 
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}

article:nth-child(36) {
    grid-column-end: span 11; 
    grid-row-end: span 3;
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;

}

article:nth-child(25) li {
    font-size: 1.4vw;
    margin-left: 1vw;
}


article:first-child {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border: solid 1px #1e1e1e;
}

article:first-child:hover #logo, article:nth-child(48):hover #door, article:nth-child(18):hover #arrow, article:nth-child(16):hover #arrow2 {
    filter: invert(1);
}

#logo {
    width: 11vw;
    height: auto;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#github, #unibo, #door {
    width: 6vw;
    height: auto;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#arrow {
    width: 2vw;
    height: auto;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#arrow2 {
    width: 2vw;
    height: auto;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}

article:nth-child(2), article:nth-child(3), article:nth-child(4), article:nth-child(5), article:nth-child(6),
article:nth-child(9), article:nth-child(10), article:nth-child(11), article:nth-child(12), article:nth-child(13), 
article:nth-child(14), article:nth-child(15), article:nth-child(16), article:nth-child(18), article:nth-child(22), 
article:nth-child(24), article:nth-child(27), article:nth-child(29), article:nth-child(32),  article:nth-child(34),
article:nth-child(37), article:nth-child(39), article:nth-child(41),  article:nth-child(44), article:nth-child(45), 
article:nth-child(48), article:nth-child(49), article:nth-child(50), article:nth-child(51) {
    grid-column-end: span 2; 
    border-right: solid 1px #1e1e1e;
    border-bottom: solid 1px #1e1e1e;
}

article:nth-child(28), article:nth-child(31), article:nth-child(33), article:nth-child(35), article:nth-child(38),
article:nth-child(40),  article:nth-child(43) {
    grid-column-end: span 3; 
    border-right: solid 1px #1e1e1e;
    border-bottom: solid 1px #1e1e1e;
}

article:nth-child(2), article:nth-child(3), article:nth-child(4), article:nth-child(5), article:nth-child(6),  article:nth-child(7) {
    border-top: solid 1px #1e1e1e;
}

article:nth-child(7){
    grid-column-end: span 6; 
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}


article:nth-child(17){
    grid-column-end: span 10; 
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}



article:nth-child(21), article:nth-child(23){
    grid-column-end: span 14; 
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}

article:nth-child(8), article:nth-child(52), article:nth-child(55) {
    grid-column-end: span 4; 
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}

article:nth-child(47){
    grid-column-end: span 3; 
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}

article:nth-child(15), article:nth-child(20), article:nth-child(22) {
    border-left: solid 1px #1e1e1e;
}


article:nth-child(15), article:nth-child(33), article:nth-child(35), article:nth-child(38), article:nth-child(39), article:nth-child(41), article:nth-child(42), article:nth-child(43), 
article:nth-child(44), article:nth-child(45), article:nth-child(46),  article:nth-child(47),  article:nth-child(48),  article:nth-child(49),  article:nth-child(50),  article:nth-child(51),  
article:nth-child(52),  article:nth-child(53), article:nth-child(54), article:nth-child(55), article:nth-child(56), article:nth-child(57), article:nth-child(58), article:nth-child(59), 
article:nth-child(60),  article:nth-child(61)  {
    border-right: solid 1px #1e1e1e;
    border-bottom: solid 1px #1e1e1e;
} 



article:nth-child(20) {
    grid-column-end: span 2; 
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}

article:nth-child(46) {
    grid-column-end: span 9; 
    border-bottom: solid 1px #1e1e1e;
    border-right: solid 1px #1e1e1e;
}